<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tkmce.hestia20">

    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_hestia_20"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_hestia_20_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:launchMode="singleTop"
            android:name=".home_main.HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity
            android:launchMode="singleTop"
            android:name=".login_page.LoginPage" />
        <activity
            android:launchMode="singleTop"
            android:name=".login_page.SplashActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:launchMode="singleTop"
            android:name=".user_dash.UserHome" />
        <activity
            android:launchMode="singleTop"
            android:name=".home_main.AboutActivity" />
        <activity
            android:launchMode="singleTop"
            android:name=".home_main.SponsorsActivity" />
        <activity
            android:launchMode="singleTop"
            android:name=".home_main.ScheduleActivity" />
        <activity
            android:launchMode="singleTop"
            android:name=".eventDetailed.ActivityRegister" />
        <activity
            android:launchMode="singleTop"
            android:name=".eventDetailed.PaymentActivity" />
        <activity
            android:launchMode="singleTop"
            android:name=".eventDetailed.PaymentFinishActivity" />
        <activity
            android:launchMode="singleTop"
            android:name=".eventDetailed.EventDetailed" />
    </application>

</manifest>